.HomePage{
    margin-top: 180px;
    align-items: center;
}

.stepper{
    margin-top: 145px;
}
.container{
    display: grid;
    /*TODO: revise and change the below line.*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.responsiveImage{
    width: 50%;
    height: 100px;
    padding-top: 30px;
}

.Navbar{
    display: block;
    background-color: #282c34;
}

.logo{
    width: 10%;
    height: auto;
}

